## Quantifying risk in Federal government grant programs

In [ ]:
import pandas as pd
import numpy as np

### Read files into notebook

In [22]:
agency19 = pd.read_csv('data/allfac19/agency19.txt', delimiter='|')
agency19

       AUDITYEAR   DBKEY        EIN  AGENCY
0           2019  100000  730776899       0
1           2019  100001  730777705       0
2           2019  100003  730779703       0
3           2019  100010  730784599       0
4           2019  100014  730785251       0
...          ...     ...        ...     ...
41109       2019   99989  730772341       0
41110       2019   99990  730772528       0
41111       2019   99993  730774245      84
41112       2019   99994  730775109       0
41113       2019   99998  730776195       0

[41114 rows x 4 columns]

In [23]:
gen19 = pd.read_csv('data/allfac19/gen19.txt',delimiter='|', encoding = 'latin')
gen19

C:\Users\mattl\AppData\Local\Temp/ipykernel_48648/525049496.py:1: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  gen19 = pd.read_csv('data/allfac19/gen19.txt',delimiter='|',encoding = 'latin')

,AUDITYEAR,DBKEY,TYPEOFENTITY,FYENDDATE,AUDITTYPE,PERIODCOVERED,NUMBERMONTHS,EIN,MULTIPLEEINS,EINSUBCODE,...,TOTFEDEXPEND,DATEFIREWALL,PREVIOUSDATEFIREWALL,REPORTREQUIRED,MULTIPLE_CPAS,AUDITOR_EIN,FACACCEPTEDDATE,CPAFOREIGN,CPACOUNTRY,ENTITY_TYPE
0,2019,100000,908,30-SEP-19,S,A,NaN,730776899,N,NaN,...,2883811,03-APR-20,NaN,NaN,N,208209116,17-MAR-20,NaN,US,Non-profit
1,2019,100001,908,31-OCT-19,S,A,NaN,730777705,N,NaN,...,14017865,01-JUL-20,NaN,NaN,N,208209116,29-JUN-20,NaN,US,Non-profit
2,2019,100003,908,30-APR-19,S,A,NaN,730779703,Y,NaN,...,2510565,15-NOV-19,NaN,NaN,N,208209116,12-NOV-19,NaN,US,Non-profit
3,2019,100010,909,30-JUN-19,S,A,NaN,730784599,N,NaN,...,2748608,29-JAN-20,NaN,NaN,N,271494012,20-NOV-19,NaN,US,Local government
4,2019,100014,908,30-JUN-19,S,A,NaN,730785251,N,NaN,...,3185870,09-JAN-20,NaN,NaN,N,480573184,20-NOV-19,NaN,US,Non-profit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37031,2019,99989,908,31-MAR-19,S,A,NaN,730772341,N,NaN,...,1108402,24-JAN-20,NaN,NaN,N,271494012,20-NOV-19,NaN,US,Non-profit
37032,2019,99990,909,31-DEC-19,S,A,NaN,730772528,N,NaN,...,9886462,30-SEP-20,NaN,NaN,N,730604334,28-SEP-20,NaN,US,Non-profit
37033,2019,99993,904,30-JUN-19,S,A,NaN,730774245,N,NaN,...,2638731,09-JUN-21,NaN,NaN,N,845108762,04-JUN-21,NaN,US,Institution of higher education (IHE)
37034,2019,99994,909,30-SEP-19,S,A,NaN,730775109,N,NaN,...,5937356,27-DEC-20,NaN,NaN,N,721351615,21-DEC-20,NaN,US,Non-profit
37035,2019,99998,908,30-SEP-19,S,A,NaN,730776195,N,NaN,...,3593178,05-MAY-20,NaN,NaN,N,208209116,02-APR-20,NaN,US,Non-profit

In [27]:
#received error message for bad data in a row - added "on_bad_lines='skip'""
cfda19 = pd.read_csv('data/allfac19/cfda19.txt',delimiter='|', encoding = 'latin',on_bad_lines='skip')
cfda19

C:\Users\mattl\AppData\Local\Temp/ipykernel_48648/3127143931.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  cfda19 = pd.read_csv('data/allfac19/cfda19.txt',delimiter='|', encoding = 'latin',on_bad_lines='skip')

,AUDITYEAR,DBKEY,EIN,CFDA,AWARDIDENTIFICATION,RD,FEDERALPROGRAMNAME,AMOUNT,CLUSTERNAME,STATECLUSTERNAME,...,QCOSTS2,FINDINGS,FINDINGREFNUMS,ARRA,LOANS,LOANBALANCE,FINDINGSCOUNT,ELECAUDITSID,OTHERCLUSTERNAME,CFDAPROGRAMNAME
0,2019,100248,731107761,14.195,NaN,NaN,SECTION 8 HOUSING ASSISTANCE PAYMENTS PROGRAM,645955,NaN,NaN,...,NaN,NaN,NaN,NaN,N,NaN,1.0,30704169,NaN,SECTION 8 HOUSING ASSISTANCE PAYMENTS PROGRAM
1,2019,100248,731107761,14.155,NaN,NaN,MORTGAGE INSURANCE FOR THE PURCHASE OR REFINAN...,4502428,NaN,NaN,...,NaN,NaN,NaN,NaN,Y,4412263.0,0.0,30704170,NaN,MORTGAGE INSURANCE FOR THE PURCHASE OR REFINAN...
2,2019,100248,731107761,14.314,NaN,NaN,ASSISTED LIVING CONVERSION FOR ELIGIBLE MULTIF...,3877141,NaN,NaN,...,NaN,NaN,NaN,NaN,Y,3877141.0,0.0,30704171,NaN,ASSISTED LIVING CONVERSION FOR ELIGIBLE MULTIF...
3,2019,100253,731116755,93.569,NaN,NaN,COMMUNITY SERVICES BLOCK GRANT,163452,NaN,NaN,...,NaN,NaN,NaN,NaN,N,NaN,0.0,31527652,NaN,COMMUNITY SERVICES BLOCK GRANT
4,2019,100253,731116755,14.218,NaN,NaN,COMMUNITY DEVELOPMENT BLOCK GRANTS/ENTITLEMENT...,67020,NaN,NaN,...,NaN,NaN,NaN,NaN,N,NaN,0.0,31527663,NaN,COMMUNITY DEVELOPMENT BLOCK GRANTS/ENTITLEMENT...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
586574,2019,100229,731089517,14.138,SECTION 223(F) INSURED MORTGAGE LOAN,NaN,MORTGAGE INSURANCE_RENTAL HOUSING FOR THE ELDERLY,526165,NaN,NaN,...,NaN,NaN,NaN,NaN,Y,526165.0,0.0,31073599,NaN,MORTGAGE INSURANCE_RENTAL HOUSING FOR THE ELDERLY
586575,2019,100229,731089517,14.195,NaN,NaN,SECTION 8 HOUSING ASSISTANCE PAYMENTS PROGRAM,568147,SECTION 8 PROJECT-BASED CLUSTER,NaN,...,NaN,NaN,NaN,NaN,N,NaN,0.0,31073709,NaN,SECTION 8 HOUSING ASSISTANCE PAYMENTS PROGRAM
586576,2019,100229,731089517,14.191,NaN,NaN,MULTIFAMILY HOUSING SERVICE COORDINATORS,26840,NaN,NaN,...,NaN,NaN,NaN,NaN,N,NaN,0.0,31073728,NaN,MULTIFAMILY HOUSING SERVICE COORDINATORS
586577,2019,100236,731096719,10.558,NaN,NaN,CHILD AND ADULT CARE FOOD PROGRAM,1277958,NaN,NaN,...,NaN,NaN,NaN,NaN,N,NaN,0.0,31448252,NaN,CHILD AND ADULT CARE FOOD PROGRAM
586578,2019,100236,731096719,93.575,NaN,NaN,CHILD CARE AND DEVELOPMENT BLOCK GRANT,482278,NaN,NaN,...,NaN,NaN,NaN,NaN,N,NaN,0.0,31448253,NaN,CHILD CARE AND DEVELOPMENT BLOCK GRANT